.areas {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.areas-list {
  height: 80%;
  width: 90%;
}


.box-content-areas {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 85vh;
}

.ul-content-areas {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  height: 75%;
}

.ul-content-membros li p {
  padding: 10px;
  color: #171717;
}

.plus-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  bottom: 100px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.plus-icon:hover {
  transform: scale(1.2);
  transition: .2s ease-in;
}


.modal-schadule-membros {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: center;
}

.modal-box-membros {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */
  /* margin-bottom: -10px; */
}

.input {
  display: flex;
  display: flex;
  align-self: center;
}

/* .upload_img {
  padding: 20px 50px;
  margin: 30px;
  width: 350px;
  margin-bottom: 40px;
  border: #fff 3px dashed;
} */

.grup-form-1-areas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}