body {
  width: 100vw;
  height: 100vh;
}

.select-pagination {
  margin: 15px auto;
}

.users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 20px; */
}
.user-lists {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #44AB20;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #44AB20;  /* creates padding around scroll thumb */
}

button {
  background: #171717;
  color: white;
  padding: 5px;
}

.users-lists {
  height: 80vh;
  width: 90%;
}

.box-content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 85vh;
}

.ul-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  height: 75%;
}

.ul-content li p {
  padding: 10px;
  color: #171717;
}

.ul-content li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 5px 10px 0;
  min-height: 70px;
  max-height: 70px;
  background: #fff;
  backdrop-filter: blur(2px);
  border-radius: 10px 10px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
}


/* .ul-content li:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
} */

.ul-content li::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}


.ul-content li::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 0px;  
}

.ul-content li::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 4px solid #171717;
  opacity: 0.3;  /* creates padding around scroll thumb */
}



.pagination {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  bottom: 55px;
  padding: 20px;
  position: fixed;
  /* margin: auto auto 30px auto; */
}

.pagination button {
  margin: 0 5px;
  border: 1px solid #161616;
  color: #44AB20;
  font-weight: bold;
}

.pagination button:hover {
  background: #fff;
  color: #161616;
  border: 1px solid #fff;
}

.select {
  background: transparent;
}

.plus-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  bottom: 100px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.plus-icon:hover {
  transform: scale(1.2);
  transition: .2s ease-in;
}
/* 
.container-modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: red;
} */

.modal-schadule {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: center;
}

.modal-box {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
  width: 100%;
  /* margin-bottom: -10px; */
}


.grup-form-1 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
